
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin-top: 0px;
    box-sizing: border-box;
}
.todos-bg-container {
  background-color: #f9fbfe;
}
.todos-container{
  margin-top: 5%;
  padding: 5%;
  border: solid 1px black;
}
.todo-heading{
    text-align: center;
    font-family: "Roboto";
    font-weight: 900;
    margin-bottom: 20px;
}
.task-heading{
    font-family: "Roboto";
    font-weight: 400;
}
span{
    color: red;
    font-size: 25px;
    font-weight: 900;
}
.todo-items-container {
  margin: 0px;
  padding: 0px;
}
.todo-item-container {
  margin-top: 20px;
}

.todo-user-input {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}
.todoaddbtn {
  color: white;
  background-color:  #113ddc;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
.todoaddbtn:hover{
  color: white;
  background-color:#4c63b6 ;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
.label-container {
  background-color:rgb(173, 169, 169);
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color:black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}
.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
}
.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.delete-icon-container {
  text-align: right;
  width: 18%;
  cursor: pointer;
}
.delete-icon {
  padding: 15px;
}
.checked {
  text-decoration: line-through;
  color:grey;
}
.todosavebtn {
  color: white;
  background-color: #113ddc;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  /* margin-bottom: 50px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
.todosavebtn:hover{
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 15px;
    margin-top: 20px;
    /* margin-bottom: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}